# these should not be pushed

# Virtual environment
venv/
.venv/

# Cache files
__pycache__/
*.pyc
*.pyo

# OS-specific files
.DS_Store
Thumbs.db

# Streamlit cache
.streamlit/

# VS Code settings
.vscode/
